{namespace fusion=Neos\Fusion\ViewHelpers}
{namespace neos=Neos\Neos\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}

<div{attributes -> f:format.raw()}>
    <!-- Author Name -->
    <neos:contentElement.wrap>
        <neos:contentElement.editable property="name" tag="h1"/>
    </neos:contentElement.wrap>

    <!-- Author E-Mail -->
    <h3><a href="mailto:{email}">{email}</a></h3>

    <!-- Author Image -->
    <f:if condition="{image}">
        <media:image class="media-object" image="{image}" alt="{title}" title="{title}" maximumHeight="220" maximumWidth="220" />
    </f:if>

    <!-- Main Content from content collection - created by the editor with elements needed like images, videos, etc. -->
    {main -> f:format.raw()}

    {newsByAuthor -> f:format.raw()}
</div>
