{namespace fusion=Neos\Fusion\ViewHelpers}
{namespace neos=Neos\Neos\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}

<div{attributes -> f:format.raw()}>
    <!-- preview -->
    <f:if condition="{previewPicture}">
        <a href="{media:uri.image(image: previewPicture, maximumWidth:800, maximumHeight:600, allowCropping:FALSE)}">
            <media:image class="img-fluid" image="{previewPicture}" allowUpScaling="TRUE" alt="PreviewBild" />
        </a>
    </f:if>

    <!-- Creation Date -->
    <p><f:format.date date="{publishDate}" format="d.m.Y H:i" /></p>

    <!-- News Title -->
    <neos:contentElement.wrap>
        <neos:contentElement.editable property="title" tag="h1"/>
    </neos:contentElement.wrap>

    <!-- Teaser -->
    <neos:contentElement.wrap>
        <neos:contentElement.editable property="teaser" tag="h3"/>
    </neos:contentElement.wrap>

    <!-- Main Content from content collection - created by the editor with elements needed like images, videos, etc. -->
    <div>
        {main -> f:format.raw()}
    </div>

    <!-- Categories -->
    <f:if condition="{categories}">
        <p>Categories: {categories -> f:format.raw()}
    </f:if>

    <!-- Author -->
    <f:if condition="{author}">
        <p>Author: <neos:link.node node="{author}">{author.properties.name}</neos:link.node></p>
    </f:if>

    <!-- related News -->
    <f:if condition="{relatedNews}">
        {relatedNews -> f:format.raw()}
    </f:if>
</div>
